{% extends 'base.html' %} {% block content %}
<div class="row row-flex">
    {% for bug in bugs %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 panel-style ">
        {% if bug.status == "todo" %}
        <div class="panel panel-danger">
            {% elif bug.status == "doing" %}
            <div class="panel panel-warning">
                {% else %}
                <div class="panel panel-success">
                    {% endif %}
                    <div class="panel-heading">Status: {{ bug.status }}</div>
                    <div class="panel-body">

                        <h4 class="card-title">{{ bug.name }}</h4>
                        <p class="product-description card-text">{{ bug.description|truncatewords:5 }}</p>
                        <div class="row">
                            <div class="col-sm-3">
                                <p><a href="{% url 'bug_detail' bug.id %}" class="btn btn-primary circle-maker"><span class="glyphicon glyphicon-plus"></span></a></p>
                            </div>
                            <div class="col-sm-3">
                                {% if bug.status == "done" %}
                                {% else %}
                                <form method="post" action="{% url 'upvote_bug' bug.id %}">
                                    {% csrf_token %}
                                    <button class="btn btn-success circle-maker" type="submit"><span class="glyphicon glyphicon-ok"></span></button>
                                </form>
                                {% endif %}
                            </div>
                        </div>

                        <p class="views"><span class="glyphicon glyphicon-eye-open"></span> {{ bug.views }}</p>
                        <p class="views"><span class="glyphicon glyphicon-ok"></span> {{ bug.upvotes }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
