chardet==2.2.1
colorama==0.2.5
dj-database-url==0.5.0
Django==1.11
django-forms-bootstrap==3.1.0
ez-setup==0.9
gunicorn==19.8.1
html5lib==0.999
Pillow==9.3.0
psycopg2==2.7.4
pytz==2018.4
requests==2.2.1
six==1.5.2
stripe==1.82.1
urllib3==1.7.1
whitenoise==3.3.1
